.textarea {
  padding: 8px 16px;

  border: none;
  border-radius: 8px;

  background-color: var(--light-black);
  color: var(--bg-white);

  font-size: 16px;

  resize: none;
}

.textarea:focus {
  outline: none;
}
